<ion-header>
  <ion-toolbar>
    <ion-title>
    	<div class="modal-header">
    		<ion-input type='text' [(ngModel)]='task.name' (ionChange)='onInputTaskName()'></ion-input>
    		<ion-button (click)='onClickDelete($event)' fill='clear'>
    			<ion-icon name='trash'></ion-icon>
    		</ion-button>
    	</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="position: relative;">


	<ion-list>
		<ion-item  *ngFor='let activity of task.activities' >
			<div class="activity-item" (press)="deleteActivity($event, activity)" >
				<ion-input type='text' [(ngModel)]='activity.description' (ionChange)='onInputActivityDescription()'></ion-input>
				<div>
					<ion-checkbox color='primary'  [(ngModel)]='activity.status' (ionChange)="onClickActivityStatus(activity)"></ion-checkbox>
							
			<!-- 		<ion-button (click)='more($event)' fill='clear'>
						<ion-icon name="more"><
					</ion-button> -->
				</div>
			</div>
	
		</ion-item>


		<ion-item>
			<ion-input 
			type='text' 
			[(ngModel)]='newActivityDescription' 
			placeholder='Add new activity'
			></ion-input>

			<ion-button (click)='onClickAddActivity($event)' fill='clear'>
				<ion-icon name='add'></ion-icon>
			</ion-button>

		</ion-item>

	</ion-list>

	<ion-progress-bar class="progressbar" value='0'></ion-progress-bar>
</ion-content>
