<ion-header>
  <ion-toolbar>
    <ion-title>
    	<div class="modal-header">
    		<ion-input type='text' [(ngModel)]='task.name' (ionChange)='onInputTaskName()'></ion-input>
    		<ion-button *ngIf="!isCreateNew" (click)='onClickDelete($event)' fill='clear'>
    			<ion-icon name='trash'></ion-icon>
    		</ion-button>
    	</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  style="position: relative;">
		<ion-item>
			<ion-label>Deadline:</ion-label> 
			<ion-datetime display-format="DD-MM-YYYY" [(ngModel)]="task.deadline" (ionChange)='updateTask()'></ion-datetime>
			
		</ion-item>

		<ion-list>
			<ion-item  *ngFor='let activity of task.activities' >

				<ion-icon name='close' class='delete-activity-btn' (click)="deleteActivity($event, activity)" ></ion-icon>
				<div class="activity-item" (press)="deleteActivity($event, activity)" >
					<ion-input type='text' [(ngModel)]='activity.description' (ionChange)='onInputActivityDescription()'></ion-input>
					<div>
						<ion-checkbox color='primary'  [(ngModel)]='activity.status' (ionChange)="onClickActivityStatus(activity)"></ion-checkbox>
					</div>
				</div>
		
			</ion-item>


			<ion-item>
				<ion-input 
				type='text' 
				[(ngModel)]='newActivityDescription' 
				placeholder='Add new activity'
				></ion-input>

				<ion-button class='add-activity-btn' (click)='onClickAddActivity($event)' fill='clear'>
					<ion-icon  name='add'></ion-icon>
				</ion-button>

			</ion-item>

		</ion-list>

		<div class='action-row'>
			<ion-button *ngIf="isCreateNew" class='save-btn' (click)='onClickSaveBtn($event)'>
				Save
			</ion-button>
		</div>
		
</ion-content>
