.activity-item{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modal-header{
	display: flex;
	justify-content: space-between;
}

.progressbar{
	position: absolute;
	bottom: 5px;
}

.action-row{
	position: absolute;
	bottom: 5px;
	display: flex;
	justify-content: flex-end;
  width: 570px;
}

.save-btn{
	--background: var(--ion-color-light);
	--color: var(--ion-color-dark);
}

.delete-activity-btn{
	z-index: 9999;
	cursor: pointer;
	margin-right: 20px;
	color: var(--ion-color-secondary);
}

ion-toolbar{
	--background: var(--yellow);
  height: 45px;
}

ion-content{
	--background: var(--ion-color-dark);
	background: var(--ion-color-dark);
}

ion-item, ion-list{
	--background: transparent;
	background: transparent;
	--color: var(--ion-color-light);
	color: var(--ion-color-light);
}

ion-input{
	--padding-end: 2px;
	--padding-start: 2px;
	--padding-top: 2px;
	--padding-bottom: 2px;
}

ion-title{
	margin-top: -10px;
	font-weight: bold;
}
