<ion-content padding style="padding-top: 30px;" forceOverscroll="false">
	<div class="main-container">
		<div class="action-group">
			<img class='tab-bar-icon ' src='assets/imgs/settings_icon.png'/>

			<div id='filter-row'  class='action-row closed-list'>
			  <ion-button *ngFor='let filter of filters'
			  	class='filter-btn'
	  			[ngClass]="[statusFilter==filter.value ? 'yellow-bg' : '']"
	  			(click)="selectStatusFilter(filter.value)"
  			>
			    <ion-label>{{filter.name}}</ion-label>
			  </ion-button>

			</div>

			<img class='tab-bar-icon ' src='assets/imgs/sort_icon.png'/>
			<div id='department-row' class='action-row closed-list'>
 
 			  <ion-button *ngFor='let department of departments'
			  	class='filter-btn'
 	  			[ngClass]="[selectedDepartment==department.value ? 'dark-bg' : '']"
 	  			(click)="selectDepartment(department.value)"
   			>
 			    <ion-label>{{department.name}}</ion-label>
 			  </ion-button>
 			  
			</div>

			<img class='tab-bar-icon ' src='assets/imgs/sort2_icon.png'/>
			<div id='order-row' class='action-row closed-list'>
 
 			  <ion-button *ngFor='let order of orders'
			  	class='filter-btn'
 	  			[ngClass]="[selectedOrder==order.value ? 'dark-bg' : '']"
 	  			(click)="selectOrder(order.value)"
   			>
			  	<ion-icon name="{{order.icon}}"></ion-icon>
 			    <ion-label>{{order.name}}</ion-label>
 			  </ion-button>

			</div>
		</div>
		<div class="tasks-group">
			<div class="status-bar-legend">
				Legend: <span class='red-bg' >0-50%</span> <span class='yellow-bg'>51-99%</span> <span class='green-bg'>100%</span>
			</div>
			
			<div *ngFor='let task of taskService.tasks'>
				<ion-card *ngIf='
				( 
					task.name.toLowerCase().includes(searchService.searchInput.toLowerCase()
					) || searchService.searchInput == "" 
				) 
				&& (task.status == statusFilter || statusFilter == "showall") 
				&& (task.group == selectedDepartment || selectedDepartment == "showall")'>
				  <ion-card-header class='task-header'>
				    <ion-card-title class='task-name'>
				    	{{task.name}}
				    </ion-card-title>

				    <ion-button fill='clear' (click)='onClickTask($event, task)'>
				    	<ion-icon name='arrow-dropright' class='task-edit-btn'></ion-icon>
				    </ion-button>
				  </ion-card-header>
				
				  <ion-card-content class='task-content'>
				    <ion-card-subtitle><b>DEADLINE:</b> {{task.deadline}}</ion-card-subtitle>
				    <ion-card-subtitle><b>ADDED BY:</b> {{task.author}}</ion-card-subtitle>
				    <ion-card-subtitle><b>IN-CHARGE:</b> {{task.team}}</ion-card-subtitle>
				  	<div class='task-status'>
				  		<h4>STATUS</h4>
				  		<div class="progress-bar-row">
				  			<ion-progress-bar 
					  			style='height: 20px;' 
					  			class="task-progress"
					  			[ngClass]="
					  			[
					  				task.progress <= 0.5 ? 'red' : '', 
					  				task.progress > 0.5 ? 'yellow' : '', 
					  				task.progress == 1 ? 'green' : '' 
					  			]
					  			"
					  			value="{{task.progress}}"></ion-progress-bar>
				  		</div>
				  	</div>
				  </ion-card-content>
				</ion-card>	
				
			</div>		
		</div>

	</div>

	<ion-card class="newtask-container" *ngIf="showAddTaskView">
		<ion-card-content>
			<ion-item>
				<ion-input type="text" [(ngModel)]="addTaskName"></ion-input>
			</ion-item>
			<div style="display: flex; justify-content: flex-end;">
				<ion-button (click)='onClickAddTask($event)'>Add Task</ion-button>
			</div>
		</ion-card-content>
	</ion-card>

  <ion-fab-button size="small" class="task-fab" (click)='onClickAddTask($event)'>
  	<ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-content>

	<!-- 
	<ion-grid>
	  <ion-row no-padding class="matrix">
	    <ion-col class='task-container' size="12">
	      <ion-item class="task-header">Do</ion-item>
	      <ion-list 
	      dragula="drag-tasks" 
	      [(dragulaModel)]="taskService.todo" 
	      (dragulaModelChange)="onChangeDrag($event, 'todo')"
	      lines="none">
        	<div *ngFor="let task of taskService.todo">
		        <ion-item 
		        [color]="primary" 
		        expand="block" 
		        text-wrap 
		        class='task-card'
		        *ngIf='task.group==department'
		        (click)='onClickTask($event, task)'
		        >
		          	{{ task.name }}
		        </ion-item>
        	</div>
	      </ion-list>
	    </ion-col>
	
	    <ion-col class='task-container'  size="12">

	      <ion-item class="task-header">Doing</ion-item>

	      <ion-list 
	      dragula="drag-tasks" 
	      [(dragulaModel)]="taskService.doing" 
	      (dragulaModelChange)="onChangeDrag($event, 'doing')"
	      lines="none">
        	<div *ngFor="let task of taskService.doing">
		        <ion-item 
		        [color]="primary" 
		        expand="block" 
		        text-wrap 
		        class='task-card'
		        *ngIf='task.group==department'
		        (click)='onClickTask($event, task)'
		        >
		          	{{ task.name }}
		        </ion-item>
        	</div>
	      </ion-list>
	    </ion-col>
	
	    <ion-col class='task-container' size="12">
	      <ion-item class="task-header">Done</ion-item>

	      <ion-list 
	      dragula="drag-tasks" 
	      [(dragulaModel)]="taskService.done" 
	      (dragulaModelChange)="onChangeDrag($event, 'done')"
	      lines="none">
        	<div *ngFor="let task of taskService.done">
		        <ion-item 
		        [color]="primary" 
		        expand="block" 
		        text-wrap 
		        class='task-card'
		        *ngIf='task.group==department'
		        (click)='onClickTask($event, task)'
		        >
		          	{{ task.name }}
		        </ion-item>
        	</div>
	      </ion-list>
	    </ion-col>

	     </ion-row>
	   </ion-grid>
	 -->