.main-container{
	padding-top: 50px;
	width: 100%;
	height: 90%;
}

.task-fab{
  float: right;
}

.newtask-container{
	max-width: 320px;
  position: absolute;
  right: 25px;
  bottom: 85px;
}

.task-container{
  min-height: 120px;
}

.taskCard{
  padding: 16px;
  font-size: 18px;
}

#do{
  min-height: 80px;
  border: 1px solid var(--ion-color-primary);
}

#doing{
  min-height: 80px;
  border: 1px solid var(--ion-color-primary);
}

#done{
  min-height: 80px;
  border: 1px solid var(--ion-color-primary);
}

.filler{
  padding: 20px;
}
.task-header{
  --background: var(--ion-color-secondary)
}
.task-card{
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}