@import '../mobile_mixin';


.main-container{
	width: 100%;
	height: 90%;
}

.task-fab{
  position: fixed;
  right: 45px;
  bottom: 15px;
  --background: var(--ion-color-secondary);


  @include for-size(phone-only) {
    right: 0px;
    bottom: 5px;
  }
}

.newtask-container{
	max-width: 320px;
  position: absolute;
  right: 25px;
  bottom: 85px;
}

.task-container{
  min-height: 120px;
}

.taskCard{
  padding: 16px;
  font-size: 18px;
}

#do{
  min-height: 80px;
  border: 1px solid var(--ion-color-primary);
}

#doing{
  min-height: 80px;
  border: 1px solid var(--ion-color-primary);
}

#done{
  min-height: 80px;
  border: 1px solid var(--ion-color-primary);
}

.filler{
  padding: 20px;
}

.task-card{
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

ion-tab-bar ion-button{
  --background: var(--ion-color-medium);
}

.tasks-group{
  flex-grow: 1;
  height: 100%;
  padding-top: 40px;
}

.task-header{
  --background: var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ion-color-light);
  padding: 0;
  padding-left: 16px;

  @include for-size(phone-only) {
    padding-left: 8px;
  }

} 

.task-edit-btn{
  font-size: 44px;
  color: var(--ion-color-light);
}

.task-content{
  background: var(--ion-color-dark);
  color: var(--ion-color-light);
  padding-top: 12px;


  @include for-size(phone-only) {
    padding-top: 8px;
    padding: 8px;
  }
}

.task-content *{
  color: var(--ion-color-light);


}

.task-name{
  --color: var(--ion-color-dark);
  font-size: 18px;
  font-weight: bold;

  @include for-size(phone-only) {
    font-size: 12px;
  }
}
.task-status{
  --background: var(--ion-color-dark);


  @include for-size(phone-only) {
    padding-top: 10px;
  }
}

.task-progress{
  --background: transparent;
}
.task-progress.red{
  --progress-background: var(--red);
}
.task-progress.yellow{
  --progress-background: var(--yellow);
}
.task-progress.green{
  --progress-background: var(--green);
}

.tab-bar-icon{
  width:18px;
  height: 18px;
  vertical-align: middle;
  /*margin-right: 15px;*/
  margin-top: 8px;
  cursor: pointer;


  @include for-size(phone-only) {
    width: 10px;
    height: 11px;
  }
}


.action-row ion-button.red-bg{
  --background: var(--red);
}

.action-row ion-button.yellow-bg{
  --background: var(--yellow);
}

.action-row ion-button.green-bg{
  --background: var(--green);
}

.action-row ion-button.dark-bg{
  --background: var(--ion-color-dark);
}

.status-bar-legend{
  margin: 20px 0;
}

.status-bar-legend span{

  @include for-size(phone-only) {
    font-size: 10px;
    padding: 2px 4px;
  }
}

.action-group{
  position: absolute;
  display: flex;
  flex-direction: row;
  /* min-height: 300px; */
  margin: 0 auto;
  left: 0;
  right: 0;
  justify-content: space-between;
  max-width: 410px;
  z-index: 99;

  @include for-size(phone-only) {
    padding: 10px;
  }
}

.action-row{
  display: flex;
  flex-direction: column;

  overflow: hidden;

}

.closed-list{
  height: 45px;

  @include for-size(phone-only) {
    height: 30px;
  }
}

.add-activity-btn button{
  margin-left: 15px;
}

.filter-btn{
  @include for-size(phone-only) {
    font-size: 10px;
    height: 20px;
  }
}


.task-content ion-card-subtitle{
  
  @include for-size(phone-only) {
    font-size: 10px;
  }
}