@import '../mobile_mixin';

ion-toolbar{
	--background: var(--ion-color-primary);
}

.signup-btn{
	--background: var(--ion-color-primary);

}

ion-content{
/*	--background: var(--ion-color-dark);
	background: var(--ion-color-dark);*/
}

ion-item, ion-list{
	--background: transparent;
	background: transparent;
	--color: var(--ion-color-dark);
	color: var(--ion-color-dark);
}


.action-row{
	display: flex;
	justify-content: flex-end;
	margin-top: 60px;
}

ion-content ion-label{
	/*--color: var(--yellow);*/
}

ion-input{
	--padding-start: 12px !important; 
}

.form-card{
	--background: var(--dark-bg);
	--color: var(--ion-color-light);
	position: relative;
}

.form-card-header{
	background: none;
	padding:  0;
}
.form-card-title{
}


.logo-container{
	margin-bottom: 50px;
	display: flex;
}


.logo{
	max-width: 220px;
	max-height: 120px;
}


.back-btn{
	width: 38px;
	height: 32px;
	cursor: pointer;
	margin-top: 8px;
	position: absolute;
	z-index: 999;
  top: 0;
  left: 0;

  
  @include for-size(phone-only) {
	  width: 27px;
	  height: 24px;
  }
}

.error-msg{
	font-size: 12px;
	margin-top: 5px;
	padding-left: 15px;
}

.title-container{
	display: block;
	text-align: center;
}

.input-label{
	--color: var(--ion-color-light);
}

ion-input{
	--color: var(--ion-color-light);
	/*--background: var(--ion-color-light);*/
}

.datetime-input{
	--color: var(--ion-color-light);
	
}

ion-item{
	--color: var(--ion-color-light) !important;
  color: var(--ion-color-light) !important;

}

.main-container *{
	@include for-size(phone-only) {
		font-size: 12px !important;
	}
}