<ion-header>
  <ion-toolbar>
    <ion-title>
    	<div class='modal-header' style="display:flex; justify-content: start; align-items: center;">
    		<h6 (click)='dismiss($event)' class="close-btn">
    			<ion-icon name='arrow-back'></ion-icon>
    		</h6>
	    	<h6>ADD EVENT</h6>
    	</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-label position="floating">
			Name
		</ion-label>
		<ion-input type='text' [(ngModel)]='name' > 
		</ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">
			Description
		</ion-label>
		<ion-textarea  rows="6"  [(ngModel)]='description'>
		</ion-textarea >
	</ion-item>

	<ion-item>
		<ion-label position="floating">
			Date
		</ion-label>
		  <ion-datetime display-format="MMM DD, YYYY" min="2019" [(ngModel)]='date'></ion-datetime>
	</ion-item>

	<div class='action-row'>
		<ion-button (click)='onClickAddEvent($event)'>
			Save
		</ion-button>
	</div>
</ion-content>
