@import '../../mobile_mixin';

.app-toolbar{
	display: flex;
	justify-content: center;
}

.app-toolbar>ion-button{
	flex-basis: 10%;
	max-width: 50px;
}

.app-toolbar>ion-searchbar{
	flex-basis: 80%;
}

ion-searchbar input{
	@include for-size(phone-only) {
		font-size: 12px;
	}
}


ion-button{
	--background: var(--ion-color-light);
	--color: var(--ion-color-dark);
}