@import '../mobile_mixin';

.upload-fab{
  position: fixed;
  right: 45px;
  bottom: 15px;
  --background: var(--ion-color-secondary);

  @include for-size(phone-only) {
    right: 0px;
    bottom: 5px;
  }
}

.download-btn{
	--background: var(--green);
}

.delete-btn{
	--background: var(--red);
}

.filter-row{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 18px;

}

.filter-select{
	background: var(--blue);
	color: var(--ion-color-light);
	margin-left: 16px;
	min-width: 140px;


  @include for-size(phone-only) {
		height: 25px;
		font-size: 12px;
		padding: 4px 4px 4px 8px;
	  }
}

.filter-icon{
	width: 18px;
	height: 18px;
	margin-right: 8px;
}