// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~fullcalendar/dist/fullcalendar.css";
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

.gradient-bg{
  background: rgb(249,57,60);
  background: linear-gradient(0deg, rgba(249,57,60,1) 0%, rgba(255,220,121,1) 100%);
  --background: rgb(249,57,60);
  --background: linear-gradient(0deg, rgba(249,57,60,1) 0%, rgba(255,220,121,1) 100%);
}


.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  max-width: 900px;

  margin: 0 auto;
}


.main-container>*{
  width: 100%;
}

.action-row ion-button{
  --background: var(--ion-color-medium);
}

.red-bg{
  background: var(--red);
}
.yellow-bg{
  background: var(--yellow);
}
.green-bg{
  background: var(--green);
}
.red{
  color: var(--red);
  --color: var(--red);
}
.yellow{
  color: var(--yellow);
  --color: var(--yellow);
}
.green{
  color: var(--green);
  --color: var(--green);
}

.status-bar-legend span{
  padding: 6px;
  margin-left: 12px;
  font-weight: bold;
}

.status-bar-legend{
  font-weight: bold;
}


#calendar  .fc-button-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#calendar .fc-button-group>*{
  margin-right: 50px;
}

#calendar button{
  border: none;
  background: none;
}


#calendar *{
  max-height: 70vh;
}