<div id='calendar' padding>
</div>

<ion-row class='custom-btns-row'>
	<ion-item  lines='none'>
	  <ion-label>Month</ion-label>
	  <ion-checkbox id='month-cb' slot="start" (click)="monthView()" [(ngModel)]='selectedView.month'></ion-checkbox>
	</ion-item>

	<ion-item  lines='none'>
	  <ion-label>Week</ion-label>
	  <ion-checkbox id='week-cb' slot="start" (click)="weekView()" [(ngModel)]='selectedView.week'></ion-checkbox>
	</ion-item>

	<ion-item  lines='none'>
	  <ion-label>Day</ion-label>
	  <ion-checkbox id='day-cb' slot="start" (click)="dayView()" [(ngModel)]='selectedView.day' [checked]='selectedView.day'></ion-checkbox>
	</ion-item>
</ion-row>

<ion-row class='legends-row'>
	<div class='legend-events'>
		Events
	</div>
	<div class='legend-deadlines'>
		Deadlines
	</div>
	<div class='legend-others'>
		Others
	</div>
</ion-row>

  <ion-fab-button size="small" class="calendar-fab" (click)='onClickAddEvent($event)'>
  	<ion-icon name="add"></ion-icon>
  </ion-fab-button>
	