<div id='calendar' padding>
</div>

<ion-row class='custom-btns-row'>
	<ion-item >
	  <ion-label>Month</ion-label>
	  <ion-checkbox slot="start" (click)="monthView()" [(ngModel)]='selectedView.month'></ion-checkbox>
	</ion-item>

	<ion-item >
	  <ion-label>Week</ion-label>
	  <ion-checkbox slot="start" (click)="weekView()" [(ngModel)]='selectedView.week'></ion-checkbox>
	</ion-item>

	<ion-item >
	  <ion-label>Day</ion-label>
	  <ion-checkbox slot="start" (click)="dayView()" [(ngModel)]='selectedView.day'></ion-checkbox>
	</ion-item>
	
</ion-row>