<ion-header>
  <ion-toolbar>
    <ion-title>
    	<app-toolbar></app-toolbar> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="main">

	<ion-tabs>
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button tab="dashboard">
	      <ion-icon name="home"></ion-icon>
	    </ion-tab-button>

	    <ion-tab-button tab="task">
	      <ion-icon name="clipboard"></ion-icon>
	    </ion-tab-button>

	    <ion-tab-button tab="file-cabinet">
	      <ion-icon name="filing"></ion-icon>
	    </ion-tab-button>
	    
	    <ion-tab-button tab="calendar">
	      <ion-icon name="calendar"></ion-icon>
	    </ion-tab-button>

	  </ion-tab-bar>
	</ion-tabs>
    
</ion-content>
